$dark-color: #121212;

.swiper.homeSlider .swiper-button-prev.customArrows::after,
.swiper.homeSlider .swiper-button-next.customArrows::after {
    color: $dark-color;
    opacity: 1;
    transition: 0.3s ease;
}

/*
html.dark .swiper.homeSlider .swiper-button-prev.customArrows:after,
html.dark .swiper.homeSlider .swiper-button-next.customArrows:after{
opacity: 1;
color: white;
}

html.dark .swiper.homeSlider:hover .swiper-button-prev.customArrows:after,
html.dark .swiper.homeSlider:hover .swiper-button-next.customArrows:after{
color: white;
}

html .swiper.homeSlider:hover .swiper-button-prev.customArrows:after,
html .swiper.homeSlider:hover .swiper-button-next.customArrows:after{
color: black;
} */

.homeSlider .slick-list {
    border-radius: inherit;
}

.homeSlider .slick-list .slick-track {
    border-radius: inherit;
}

.swiper-pagination-bullet {
    --tw-bg-opacity: 1;

    background-color: rgba(0, 0, 0, var(--tw-bg-opacity)) !important;
}

/*
html.dark .swiper-pagination-bullet{
    --tw-bg-opacity: 1;
    background-color: rgba(107,114,128,var(--tw-bg-opacity)) !important;
}
html.dark .swiper-pagination-bullet-active{
    --tw-bg-opacity: 1;
    background-color: rgba(0,0,0,var(--tw-bg-opacity)) !important;
} */
.swiper-pagination-bullet-active {
    --tw-bg-opacity: 1;

    background-color: rgba(0, 0, 0, var(--tw-bg-opacity)) !important;
}
