.switchTheme:before{
    content: '';
    display: block;
    position:absolute;
    top: 50%;
    left: .25rem;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: black;
    width: 1rem;
    height: 1rem;
}