$size-slider-thumb: 1.15rem;

.costMin,
.inputRangeCost {
    position: absolute;
}

.inputRangeCost {
    width: 100%;
    cursor: pointer;
    background-color: transparent;
    appearance: none;
    pointer-events: none;
    appearance: none;
}

.inputRangeCost::-webkit-slider-thumb {
    @apply dark:bg-white bg-black;
    
    height: $size-slider-thumb;
    width: $size-slider-thumb;
    appearance: none;
    pointer-events: auto;
    border-radius: 50%;
}

.inputRangeCost::-moz-range-thumb {
    @apply dark:bg-white bg-black;
    
    height: $size-slider-thumb;
    pointer-events: auto;
    appearance: none;
    width: $size-slider-thumb;
    border-radius: 50%;
}

.inputRangeCost::-webkit-outer-spin-button,
.inputRangeCost::-webkit-inner-spin-button {
    appearance: none;
}
